<div class="card m-0 product-grid6" style="border-radius: 0%;" routerLink="/cakes/details" [queryParams]="{ cakeId: cake._id }">
    <div class="product-image6">
        <img id="overImg" [src]="'data:image/jpg;base64,'+cake.imageUrl" alt="..." class="card-img">
        <div class="overlay-img">
            <p class="discount-text">{{cake.discountPercentage}} % Off</p>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="product-content">
            <div class="card-title">{{cake.itemName | lowercase}}</div>
            <p-rating [ngModel]="val3" [cancel]="false"></p-rating>
        </div>
        <div class="action-links d-flex">
             <div class="price flex-fill" style="padding: 5px;">
                <img src="../../../../assets/images/img-rs.png" width="22px" />
                <span class="card-title">{{cake.unitPrice}} </span>
             </div>
             <div class="price cart-icon flex-fill">
               <p>View</p>
             </div>
             <div class="cart-icon flex-fill">
                <img src="https://static.thenounproject.com/png/62821-200.png" width="25px"/>
              </div>
        </div>
        <!-- <ul class="social">
            <li><a data-tip="Quick View"><i class="fa fa-share"></i></a></li>
            <li routerLink="/cakes/details" [queryParams]="{ cakeId: cake.id }"><a data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li routerLink="/cart"><a data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul> -->
    </div>
</div>