<p-toast></p-toast>
<div class="card m-0 product-grid6" style="border-radius: 0%;">
    <div class="product-image6" routerLink="/product/details" [queryParams]="{ cakeId: cake._id }">
        <img id="overImg" [src]="cake.imageUrls[0]" alt="" class="card-img">
        <div class="overlay-img">
            <p class="discount-text">{{cake.discountPercentage}} % Off</p>
        </div>
    </div>
    <div class="card-body">
        <div class="product-content">
            <div class="card-title d-flex">
                <div class="flex-fill heading">
                    {{cake.itemName | lowercase}}
                </div>
                <div class="share">
                    <a href="whatsapp://send?text=Cake for you from Krishna Sweets http://onlinekrishnasweets.com/product/details?cakeId='{{cake._id}}'"><span class="fa fa-whatsapp text-success" style="font-size: 18px;"></span></a>
                </div>
            </div>
            <!-- <p-rating [ngModel]="val3" [cancel]="false"></p-rating> -->
        </div>
        <div class="action-links d-flex pb-2 m-0">
             <div class="price flex-fill">
                <img src="../../../../assets/images/img-rs.png" width="20px" />
                <span class="card-title">{{cake.unitPrice}}.00 </span>
             </div>
             <!-- <div class="price cart-icon flex-fill p-0 pt-1" routerLink="/product/details" [queryParams]="{ cakeId: cake._id }">
               <p><span class="fa fa-eye"></span></p>
             </div> -->
             <!-- <div class="cart-icon flex-fill p-0">
                <img src="https://static.thenounproject.com/png/62821-200.png" width="22px"/>
              </div> -->
              <div class="add">
                  <button class="btn-card btn btn-outline-primary btn-sm" (click)="addToCart(cake)">ADD <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
              </div>
        </div>
        <!-- <ul class="social">
            <li><a data-tip="Quick View"><i class="fa fa-share"></i></a></li>
            <li routerLink="/cakes/details" [queryParams]="{ cakeId: cake.id }"><a data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li routerLink="/cart"><a data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul> -->
    </div>
</div>