<div class="row m-2 p-4" style="background-color: white;">
    <div class="col-sm-4 pl-0">
        <div class="row p-0">
            <div class="col-sm-2 d-flex flex-column pl-0 pr-2">
                <img src="https://assets.winni.in/c_limit,dpr_1,fl_progressive,q_80,w_80/38818_black-forest-cake.webp" class="img-fluid img-thumbnail mt-2">
                <img src="https://assets.winni.in/c_limit,dpr_1,fl_progressive,q_80,w_300/27536_butter-scotch-cake.webp" class="img-fluid img-thumbnail mt-2">
                <img src="https://assets.winni.in/c_limit,dpr_1,fl_progressive,q_80,w_300/34313_kitkat-and-gems-cake.webp" class="img-fluid img-thumbnail mt-2">
                <img src="https://assets.winni.in/c_limit,dpr_1,fl_progressive,q_80,w_300/38974_oreo-adventure-cake.webp" class="img-fluid img-thumbnail mt-2 ">
            </div>
            <div class="col-sm-10 pl-0 pr-0">
                 <img src="https://assets.winni.in/c_limit,dpr_1,fl_progressive,q_80,w_300/38974_oreo-adventure-cake.webp" class="img-fluid full-img img-thumbnail"/>
                 <div class="d-flex pt-3">
                    <button class="mr-1 flex-fill p-2" mat-raised-button color="accent">ADD TO CART</button>
                    <button class="flex-fill p-2" mat-raised-button color="primary">BUY NOW</button>
                 </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-7 d-flex flex-column">
                 <div class="card-title">
                     <h4><strong>Buttor Scotch Cake</strong></h4>
                     <br> Ratings 
                 </div>
                 <hr class="hr-default p-2">
                 <div class="cake-price d-flex">
                     <div class="rs-icon pt-1">
                       <img src="https://i.dlpng.com/static/png/6423446_preview.png" width="35px"/>
                     </div>
                     <div class="price mr-3">
                        <h2>299.00</h2>
                     </div>
                     <div class="discount d-flex flex-column">
                         <p>Original Price</p>
                         <p>saving amount</p>
                     </div>
                 </div>
                 <div class="feature pl-2">
                    <p>Cake Flavour: Butterscotch</p>
                    <p>Type of Cake: Cream</p>
                    <p>Type of Bread: Vanilla</p>
                    <p>Type of cream: Vanilla</p>
                    <a href="#">more details</a>
                 </div>
                 <div class="type p-1">
                  <mat-checkbox>Eggless</mat-checkbox>
                 </div>
                 <div class="p-1">
                    <mat-radio-group>
                      <mat-radio-button value="auto">1 KG &nbsp;</mat-radio-button>
                      <mat-radio-button value="always">2 KG &nbsp; </mat-radio-button>
                      <mat-radio-button value="auto">3 KG &nbsp; </mat-radio-button>
                      <mat-radio-button value="always">4 KG &nbsp; </mat-radio-button>
                    </mat-radio-group>              
                 </div>
                 <div class="message-text pt-2 p-1">
                     <input type="text" placeholder="Message on Cake" class="form-control"/>
                 </div>
            </div>
            <div class="col-sm-5 p-4" style="background-color: #f1f1f1;">
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>