<div class="row d-flex">
    <div class="col-sm-3">
        <img src="../../../../../assets/images/product.png" class="card-img img-thumbnail" alt="...">
    </div>
    <div class="col-sm-9">
        <div class="card-body" style="padding: 0%;">
            <div class="d-flex flex-column">
                 <div class="item-title d-flex">
                    <div class="price mr-auto">Creamy Pokeman Cake</div>
                    <div class="quantity"><span class="fa fa-trash" style="color:blue;font-size: 18px;"></span></div>
                 </div>
                 <div class="item-detail d-flex pt-2">
                      <div class="price mr-auto">Price: $ 199.00</div>
                      <div class="quantity"> Qty: 1</div>
                 </div>
                 <div class="item-edit d-flex pt-1">
                       <div class="weight mr-auto">
                           Wight: 1 KG
                       </div>
                       <div class="mobile-eggless mobile-only">
                           Eggless
                       </div>
                 </div>
                 <div class="actions desktop-only">
                     Eggless 
                 </div>
            </div>

        </div>
    </div>
</div>