<div class="row d-flex m-0">
    <div class="col-sm-3">
       <img [src]="'data:image/jpg;base64,'+cart.img" class="card-img img-thumbnail" alt="...">
    </div>
    <div class="col-sm-8">
        <div class="card-body" style="padding: 0%;">
            <div class="d-flex flex-column">
                 <div class="item-title d-flex">
                    <div class="price mr-auto">{{cart.itemName}}</div>
                    <div class="quantity pr-0 mr-0" (click)="deleteCartItem(cart.cartId)"><span class="fa fa-trash mr-0 pr-0" style="color:red;font-size: 16px;"></span></div>
                 </div>
                 <div class="item-detail d-flex pt-2 p-1">
                      <div class="price mr-auto">Price: {{cart.price | number}}</div>
                 </div>
                 <div class="item-edit d-flex pt-1 p-1">
                       <div class="weight mr-auto">
                           Weight: {{cart.weight}} Pond
                       </div>
                       <div class="mobile-eggless mobile-only">
                          <mat-checkbox [checked]= "cart.eggless" [disabled] = "true">Eggless</mat-checkbox>
                       </div>
                 </div>
                 <div class="actions desktop-only">
                    <mat-checkbox [checked]= "cart.eggless" [disabled] = "true">Eggless</mat-checkbox>
                 </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1 mt-4 pt-2 p-0 m-0 text-center mobile-view-only">
        <span class="fa fa-chevron-right"></span>
    </div>
</div>