@media screen and (max-width: 760) {
    .col-sm-2 {
        width: 30vw;
    }

}
@media screen and (max-width: 570px) {
    .col-sm-2 {
      width: 30vw;
    }
    .col-sm-10 {
        width: 70vw;
    }
  }