<div class="row d-flex m-0">
    <div class="col-sm-3">
        <img src="https://assets.winni.in/c_limit,dpr_2,fl_progressive,q_80,w_400/30861_amazing-black-forest-cake.webp" class="card-img img-thumbnail" alt="...">
    </div>
    <div class="col-sm-9">
        <div class="card-body" style="padding: 0%;">
            <div class="d-flex flex-column">
                 <div class="item-title d-flex">
                    <div class="price mr-auto">{{cart.itemName}}</div>
                    <div class="quantity pr-1" (click)="deleteCartItem('Ravi')"><span class="fa fa-trash" style="color:red;font-size: 18px;"></span></div>
                 </div>
                 <div class="item-detail d-flex pt-2 p-1">
                      <div class="price mr-auto">Price: {{cart.price}}</div>
                 </div>
                 <div class="item-edit d-flex pt-1 p-1">
                       <div class="weight mr-auto">
                           Weight: {{cart.weight}} Pond
                       </div>
                       <div class="mobile-eggless mobile-only">
                          <mat-checkbox [checked]= "cart.eggless" [disabled] = "true">Eggless</mat-checkbox>
                       </div>
                 </div>
                 <div class="actions desktop-only">
                    <mat-checkbox [checked]= "cart.eggless" [disabled] = "true">Eggless</mat-checkbox>
                 </div>
            </div>
        </div>
    </div>
</div>