
<ul>
    <li>Welcome</li>
    <li>Welcome</li>
    <li>Welcome</li>
    <li>Welcome</li>
    <li>Welcome</li>
    <li>Welcome</li>
    <li>Welcome</li>
    <li>Welcome</li>
</ul>

<!-- <div class="sidepanel collapse card" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent" style="background-color: #f5f5f5;">
    <div class="card-header border-redius-none">
        <div class="d-flex flex-row">
            <div class="p-2 bg-info">
                <img class="img-circle" src="dkjned">
            </div>
            <div class="p-2 bg-warning">Flex item 2</div>
        </div>
    </div>
    <div class="card-body">
      <ul style="list-style-type: none;" id="bodyList">
        <li>Welcome</li>
        <li>Welcome</li>
        <li>Welcome</li>
        <li>Welcome</li>
        <li>Welcome</li>
        <li>Welcome</li>
        <li>Welcome</li>
        <li>Welcome</li>
      </ul>
    </div> 
    <div class="card-footer border-redius-none">
        <ul class="d-flex flex-row">
            <i class="p-1 fas fa-file"></i>
            <i class="p-1 fas fa-file"></i>
            <i class="p-1 fas fa-file"></i>
        </ul>
    </div>
</div> -->