<div class="row">
    <div class="d-flex flex-fill" style="background-color: white;">
        <div class="home p-2 flex-fill">
            <a routerLink="/admin"> Manage </a>
        </div>
        <div class="home p-2 flex-fill">
            <a routerLink="/admin/cakes"> Cakes </a>
        </div>
        <div class="home p-2 flex-fill" routerLink="/admin/cakes">
            <a routerLink="/admin/sweets"> Sweets </a>
        </div>
        <div class="home p-2 flex-fill" routerLink="/admin/sweets">
            <a routerLink="/admin/gifts"> Gifts </a>
        </div>
        <div class="home p-2 flex-fill">
            <a routerLink="/admin/orders"> Orders </a>
        </div>
        <div class="home p-2 flex-fill">
            <a routerLink="/admin/othera"> Others </a>
        </div>
    </div>
</div>