<div class="row">
    <div class="d-flex flex-fill" style="background-color: white;">
        <div class="home p-2 flex-fill">
            Home
        </div>
        <div class="home p-2 flex-fill">
           <a routerLink="/admin/manage"> Manage </a>
        </div>
        <div class="home p-2 flex-fill">
            Cakes
        </div>
        <div class="home p-2 flex-fill">
            Sweets
        </div>
        <div class="home p-2 flex-fill">
            Cakes
        </div>
        <div class="home p-2 flex-fill">
            Sweets
        </div>
    </div>
</div>