
<p-toast position="top-right"></p-toast>
<div class="row p-2">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6 card p-2" style="border-top: 3px solid #1c0486;">
          <h5 class="pb-3 pt-2"><strong>LOGIN</strong></h5>
          <form [formGroup]="loginForm" (submit)="login()" class="form-flat" autocomplete="off">
              <div class="form-group">
                <label for="email">
                  Email 
                </label>
                <input type="text"
                          #userName
                          required
                          id="email"
                          class="form-control"
                          formControlName="email"
                          placeholder="Enter your user name">
              </div>
              <div class="form-group">
                <label for="password">
                  Password
                </label>
                <input type="password"
                          #password
                          required
                          id="password"
                          class="form-control"
                          formControlName="password"
                          placeholder="Enter your valid password">
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="d-flex">
                          <button type="button" class="btn-card btn-lg btn-outline-primary flex-fill m-1 p-2" (click)="gotoRegister()">Sign Up</button>
                          <button type="submit" class="btn-card btn-lg btn-outline-success flex-fill m-1 p-2" [disabled]="loginForm.invalid">Login</button>
                      </div>
                  </div>
              </div>
          </form>
  </div>
  <div class="col-sm-2">

  </div>
</div>