
<p-toast position="top-right"></p-toast>
<div class="row p-4">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8 card p-4">
          <h4>Login</h4>
          <hr>
          <form [formGroup]="loginForm" (submit)="login()" class="form-flat" autocomplete="off">
              <div class="form-group">
                <label for="email">
                  Email 
                </label>
                <input type="text"
                          #userName
                          required
                          id="email"
                          class="form-control"
                          formControlName="email"
                          placeholder="Enter your user name">
              </div>
              <div class="form-group">
                <label for="password">
                  Password
                </label>
                <input type="password"
                          #password
                          required
                          id="password"
                          class="form-control"
                          formControlName="password"
                          placeholder="Enter your valid password">
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="d-flex">
                          <button type="button" class="btn btn-warning btn-pro flex-fill" (click)="gotoRegister()">Sign Up</button>
                          <button type="submit" class="btn btn-success btn-pro flex-fill" [disabled]="loginForm.invalid">Login</button>
                      </div>
                  </div>
              </div>
          </form>
  </div>
  <div class="col-sm-2">

  </div>
</div>