
<div class="row p-4">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8 card p-4">
          <h4>Login Form</h4>
          <hr>
          <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="form-flat" autocomplete="off">
              <div class="form-group">
                <label for="user-name">
                  User Name
                </label>
                <input type="text"
                          #userName
                          required
                          id="user-name"
                          class="form-control"
                          formControlName="userName"
                          placeholder="Enter your user name">
              </div>
              <div class="form-group">
                <label for="password">
                  Password
                </label>
                <input type="password"
                          #password
                          required
                          id="password"
                          class="form-control"
                          formControlName="password"
                          placeholder="Enter your valid password">
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="btn-group btn-block btn-group-lg">
                          <button type="button" class="btn btn-warning" (click)="gotoRegister()">Sign Up</button>
                          <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
                      </div>
                  </div>
              </div>
          </form>
  </div>
  <div class="col-sm-2">

  </div>
</div>