<div class="desktop-only">
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
</div>
<div class="mobile-only">
    <p-confirmDialog [style]="{width: '100vw'}" [baseZIndex]="10000"></p-confirmDialog>
</div>
<div class="row pt-2" style="background-color: white;">
    <div class="col-sm-12 pt-1">
        <h4><strong>Your Orders</strong></h4>
    </div>
    <div class="col-sm-12">
        <div class="input-group example">
            <input type="text" #inputstring placeholder="Search by productId or shipName..." name="search"
                (keyup)="filterOderData(inputstring.value)">
            <button type="submit" (click)="filterOderData(inputstring.value)"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <hr class="full-hr" />
    <div class="col-sm-12 p-0">
        <div class="cart-items" *ngFor="let order of finalList">
            <app-order [order]="order"></app-order>
            <hr class="full-hr">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-right pr-0 mr-0">
            <pagination [totalItems]="totalOrder" (pageChanged)="pageChanged($event)" [maxSize]="8"></pagination>
        </div>
    </div>
</div>