<div class="row" *ngIf="!loading">
    <div class="col-sm-12 p-2 text-left">
        <h6><strong>Sweets</strong></h6>
    </div>
    <div class="col-sm-3 m-0 p-1" *ngFor="let cake of sweetList">      
        <app-card-item [cake]="cake"></app-card-item>
    </div>
</div>
<div class="row" style="background-color:white;" *ngIf="loading">
    <div class="col-sm-12 text-center m-4 p-4">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
<div class="row" style="background-color:white;" *ngIf="sweetList.length === 0 && !loading">
    <div class="col-sm-12 text-center m-4 p-4">
        <span class="fa fa-exclamation-circle"></span>
        <p>Sweets Not Found</p>
    </div>
</div>