<div class="row">
    <div class="col-sm-12 p-2" style="background-color:#fffbce">
        <div class="d-flex p-2">
            <div class="mr-auto">
                <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Your flavor here</h5>
            </div>
            <div class="mr-0">
                <button type="button" class="btn btn-success">
                    View All
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row pl-3 pr-3 pb-1"  style="background-color:#fffbce">
    <div class="col-sm-3 card-group" *ngFor="let item of items">
        <app-sweet-show-case></app-sweet-show-case>
     </div>
</div>