<div class="row bg-logo">
    <div class="col-sm-12">
        <div class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target=".navbar-collapse">☰</button>
                <div class="navbar-collapse collapse">
                    <ul class="nav nav-fill">
                        <li class="dropdown menu-large nav-item "> 
                            <a routerLink="/" class="nav-link" data-toggle="dropdown"> Home </a>
                        </li>
                        <li class="dropdown menu-large nav-item ">
                            <a class="nav-link" routerLink="/cakes">Cakes 
                                <!-- data-toggle="dropdown">
                                <span class="fa fa-angle-down" aria-hidden="true"></span> -->
                            </a>
                            <!-- <ul class="dropdown-menu megamenu">
                                <div class="row">
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Flavour</li>
                                            <li><a href="#">Chocolate Cake</a>
                                            </li>
                                            <li><a href="#">Vanilla Cake</a>
                                            </li>
                                            <li><a href="#">Butterscotch cake</a>
                                            </li>
                                            <li><a href="#">White Forest Cake</a>
                                            </li>
                                            <li><a href="#">Black Forest cake</a>
                                            </li>
                                            <li><a href="#">Fruit Cakes</a>
                                            </li>
                                            <li><a href="#">Red Velvet Cakes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Cakes By Events</li>
                                            <li><a href="#">Birthday Special Cakes</a>
                                            </li>
                                            <li><a href="#">Anniversary Special Cakes</a>
                                            </li>
                                            <li><a href="#">Cakes for Events</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Cakes By Relations</li>
                                            <li><a href="#">Cakes for Mother's </a>
                                            </li>
                                            <li><a href="#">Father</a>
                                            </li>
                                            <li><a href="#">Sister</a>
                                            </li>
                                            <li><a href="#">Brother</a>
                                            </li>
                                            <li><a href="#">Sister</a>
                                            </li>
                                            <li><a href="#">Boy friend</a>
                                            </li>
                                            <li><a href="#">Girl friend</a>
                                            </li>
                                            <li><a href="#">Wife</a>
                                            </li>
                                            <li><a href="#">Husband</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Navbar</li>
                                            <li><a href="#">Default navbar</a>
                                            </li>
                                            <li><a href="#">Buttons</a>
                                            </li>
                                            <li><a href="#">Text</a>
                                            </li>
                                            <li><a href="#">Non-nav links</a>
                                            </li>
                                            <li><a href="#">Component alignment</a>
                                            </li>
                                            <li><a href="#">Fixed to top</a>
                                            </li>
                                            <li><a href="#">Fixed to bottom</a>
                                            </li>
                                            <li><a href="#">Static top</a>
                                            </li>
                                            <li><a href="#">Inverted navbar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul> -->
                        </li>
                        <li class="dropdown menu-large nav-item ">
                            <a class="nav-link" routerLink="/sweets"
                                data-toggle="dropdown">
                                Sweets
                            </a>
                            <!-- <ul class="dropdown-menu megamenu">
                                <div class="row">
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Glyphicons</li>
                                            <li><a href="#">Available glyphs</a>
                                            </li>
                                            <li class="disabled"><a href="#">How to use</a>
                                            </li>
                                            <li><a href="#">Examples</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Dropdowns</li>
                                            <li><a href="#">Example</a>
                                            </li>
                                            <li><a href="#">Aligninment options</a>
                                            </li>
                                            <li><a href="#">Headers</a>
                                            </li>
                                            <li><a href="#">Disabled menu items</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Button groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Button toolbar</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Nesting</a>
                                            </li>
                                            <li><a href="#">Vertical variation</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Button dropdowns</li>
                                            <li><a href="#">Single button dropdowns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Input groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Checkboxes and radio addons</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Navs</li>
                                            <li><a href="#">Tabs</a>
                                            </li>
                                            <li><a href="#">Pills</a>
                                            </li>
                                            <li><a href="#">Justified</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Navbar</li>
                                            <li><a href="#">Default navbar</a>
                                            </li>
                                            <li><a href="#">Buttons</a>
                                            </li>
                                            <li><a href="#">Text</a>
                                            </li>
                                            <li><a href="#">Non-nav links</a>
                                            </li>
                                            <li><a href="#">Component alignment</a>
                                            </li>
                                            <li><a href="#">Fixed to top</a>
                                            </li>
                                            <li><a href="#">Fixed to bottom</a>
                                            </li>
                                            <li><a href="#">Static top</a>
                                            </li>
                                            <li><a href="#">Inverted navbar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul> -->
                        </li>
                        <li class="dropdown menu-large nav-item "> 
                            <a routerLink="/gifts" class="nav-link" data-toggle="dropdown">Gifts </a>
                        </li>
                        <li class="dropdown menu-large nav-item "> 
                            <a routerLink="/break-fast" class="nav-link" data-toggle="dropdown"> Break-fast </a>
                        </li>
                        <li class="dropdown menu-large nav-item "> 
                            <a routerLink="/bakery" class="nav-link" data-toggle="dropdown"> Bakery </a>
                        </li>
                        <li class="dropdown menu-large nav-item "> 
                            <a routerLink="/restaurant" class="nav-link" data-toggle="dropdown"> Restaurant </a>
                        </li>
                        <!-- <li class="dropdown menu-large nav-item "> 
                               <a href="#" class="nav-link"
                                   data-toggle="dropdown"> Namkeens
                                <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu megamenu">
                                <li>
                                    <div class="row">
                                        <li class="col-md-3">
                                            <ul>
                                                <li class="dropdown-header">Glyphicons</li>
                                                <li><a href="#">Available glyphs</a>
                                                </li>
                                                <li class="disabled"><a href="#">How to use</a>
                                                </li>
                                                <li><a href="#">Examples</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Dropdowns</li>
                                                <li><a href="#">Example</a>
                                                </li>
                                                <li><a href="#">Aligninment options</a>
                                                </li>
                                                <li><a href="#">Headers</a>
                                                </li>
                                                <li><a href="#">Disabled menu items</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3">
                                            <ul>
                                                <li class="dropdown-header">Button groups</li>
                                                <li><a href="#">Basic example</a>
                                                </li>
                                                <li><a href="#">Button toolbar</a>
                                                </li>
                                                <li><a href="#">Sizing</a>
                                                </li>
                                                <li><a href="#">Nesting</a>
                                                </li>
                                                <li><a href="#">Vertical variation</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Button dropdowns</li>
                                                <li><a href="#">Single button dropdowns</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3">
                                            <ul>
                                                <li class="dropdown-header">Input groups</li>
                                                <li><a href="#">Basic example</a>
                                                </li>
                                                <li><a href="#">Sizing</a>
                                                </li>
                                                <li><a href="#">Checkboxes and radio addons</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Navs</li>
                                                <li><a href="#">Tabs</a>
                                                </li>
                                                <li><a href="#">Pills</a>
                                                </li>
                                                <li><a href="#">Justified</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3">
                                            <ul>
                                                <li class="dropdown-header">Navbar</li>
                                                <li><a href="#">Default navbar</a>
                                                </li>
                                                <li><a href="#">Buttons</a>
                                                </li>
                                                <li><a href="#">Text</a>
                                                </li>
                                                <li><a href="#">Non-nav links</a>
                                                </li>
                                                <li><a href="#">Component alignment</a>
                                                </li>
                                                <li><a href="#">Fixed to top</a>
                                                </li>
                                                <li><a href="#">Fixed to bottom</a>
                                                </li>
                                                <li><a href="#">Static top</a>
                                                </li>
                                                <li><a href="#">Inverted navbar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </div>
                                </li>
                            </ul>
                        </li> -->
                        <!-- <li class="dropdown menu-large nav-item ">
                            <a href="#" class="nav-link"
                                data-toggle="dropdown">
                                Break-fast <span class="fa fa-angle-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu megamenu">
                                <div class="row">
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Glyphicons</li>
                                            <li><a href="#">Available glyphs</a>
                                            </li>
                                            <li class="disabled"><a href="#">How to use</a>
                                            </li>
                                            <li><a href="#">Examples</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Dropdowns</li>
                                            <li><a href="#">Example</a>
                                            </li>
                                            <li><a href="#">Aligninment options</a>
                                            </li>
                                            <li><a href="#">Headers</a>
                                            </li>
                                            <li><a href="#">Disabled menu items</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Button groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Button toolbar</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Nesting</a>
                                            </li>
                                            <li><a href="#">Vertical variation</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Button dropdowns</li>
                                            <li><a href="#">Single button dropdowns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Input groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Checkboxes and radio addons</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Navs</li>
                                            <li><a href="#">Tabs</a>
                                            </li>
                                            <li><a href="#">Pills</a>
                                            </li>
                                            <li><a href="#">Justified</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Navbar</li>
                                            <li><a href="#">Default navbar</a>
                                            </li>
                                            <li><a href="#">Buttons</a>
                                            </li>
                                            <li><a href="#">Text</a>
                                            </li>
                                            <li><a href="#">Non-nav links</a>
                                            </li>
                                            <li><a href="#">Component alignment</a>
                                            </li>
                                            <li><a href="#">Fixed to top</a>
                                            </li>
                                            <li><a href="#">Fixed to bottom</a>
                                            </li>
                                            <li><a href="#">Static top</a>
                                            </li>
                                            <li><a href="#">Inverted navbar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </li> -->
                        <!-- <li class="dropdown menu-large nav-item ">
                            <a href="#" class="nav-link"
                                data-toggle="dropdown">
                                Restaurant <span class="fa fa-angle-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu megamenu">
                                <div class="row">
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Glyphicons</li>
                                            <li><a href="#">Available glyphs</a>
                                            </li>
                                            <li class="disabled"><a href="#">How to use</a>
                                            </li>
                                            <li><a href="#">Examples</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Dropdowns</li>
                                            <li><a href="#">Example</a>
                                            </li>
                                            <li><a href="#">Aligninment options</a>
                                            </li>
                                            <li><a href="#">Headers</a>
                                            </li>
                                            <li><a href="#">Disabled menu items</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Button groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Button toolbar</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Nesting</a>
                                            </li>
                                            <li><a href="#">Vertical variation</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Button dropdowns</li>
                                            <li><a href="#">Single button dropdowns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Input groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Checkboxes and radio addons</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Navs</li>
                                            <li><a href="#">Tabs</a>
                                            </li>
                                            <li><a href="#">Pills</a>
                                            </li>
                                            <li><a href="#">Justified</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Navbar</li>
                                            <li><a href="#">Default navbar</a>
                                            </li>
                                            <li><a href="#">Buttons</a>
                                            </li>
                                            <li><a href="#">Text</a>
                                            </li>
                                            <li><a href="#">Non-nav links</a>
                                            </li>
                                            <li><a href="#">Component alignment</a>
                                            </li>
                                            <li><a href="#">Fixed to top</a>
                                            </li>
                                            <li><a href="#">Fixed to bottom</a>
                                            </li>
                                            <li><a href="#">Static top</a>
                                            </li>
                                            <li><a href="#">Inverted navbar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </li> -->
                        <!-- <li class="dropdown menu-large nav-item ">
                            <a href="#" class="nav-link"
                                data-toggle="dropdown">
                                Rakhi <span class="fa fa-angle-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu megamenu">
                                <div class="row">
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Glyphicons</li>
                                            <li><a href="#">Available glyphs</a>
                                            </li>
                                            <li class="disabled"><a href="#">How to use</a>
                                            </li>
                                            <li><a href="#">Examples</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Dropdowns</li>
                                            <li><a href="#">Example</a>
                                            </li>
                                            <li><a href="#">Aligninment options</a>
                                            </li>
                                            <li><a href="#">Headers</a>
                                            </li>
                                            <li><a href="#">Disabled menu items</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Button groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Button toolbar</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Nesting</a>
                                            </li>
                                            <li><a href="#">Vertical variation</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Button dropdowns</li>
                                            <li><a href="#">Single button dropdowns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Input groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Checkboxes and radio addons</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Navs</li>
                                            <li><a href="#">Tabs</a>
                                            </li>
                                            <li><a href="#">Pills</a>
                                            </li>
                                            <li><a href="#">Justified</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Navbar</li>
                                            <li><a href="#">Default navbar</a>
                                            </li>
                                            <li><a href="#">Buttons</a>
                                            </li>
                                            <li><a href="#">Text</a>
                                            </li>
                                            <li><a href="#">Non-nav links</a>
                                            </li>
                                            <li><a href="#">Component alignment</a>
                                            </li>
                                            <li><a href="#">Fixed to top</a>
                                            </li>
                                            <li><a href="#">Fixed to bottom</a>
                                            </li>
                                            <li><a href="#">Static top</a>
                                            </li>
                                            <li><a href="#">Inverted navbar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </li> -->
                        <!-- <li class="dropdown menu-large nav-item ">
                            <a href="#" class="nav-link"
                                data-toggle="dropdown">
                                Gifts <span class="fa fa-angle-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu megamenu">
                                <div class="row">
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Glyphicons</li>
                                            <li><a href="#">Available glyphs</a>
                                            </li>
                                            <li class="disabled"><a href="#">How to use</a>
                                            </li>
                                            <li><a href="#">Examples</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Dropdowns</li>
                                            <li><a href="#">Example</a>
                                            </li>
                                            <li><a href="#">Aligninment options</a>
                                            </li>
                                            <li><a href="#">Headers</a>
                                            </li>
                                            <li><a href="#">Disabled menu items</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Button groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Button toolbar</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Nesting</a>
                                            </li>
                                            <li><a href="#">Vertical variation</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Button dropdowns</li>
                                            <li><a href="#">Single button dropdowns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Input groups</li>
                                            <li><a href="#">Basic example</a>
                                            </li>
                                            <li><a href="#">Sizing</a>
                                            </li>
                                            <li><a href="#">Checkboxes and radio addons</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Navs</li>
                                            <li><a href="#">Tabs</a>
                                            </li>
                                            <li><a href="#">Pills</a>
                                            </li>
                                            <li><a href="#">Justified</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-3">
                                        <ul>
                                            <li class="dropdown-header">Navbar</li>
                                            <li><a href="#">Default navbar</a>
                                            </li>
                                            <li><a href="#">Buttons</a>
                                            </li>
                                            <li><a href="#">Text</a>
                                            </li>
                                            <li><a href="#">Non-nav links</a>
                                            </li>
                                            <li><a href="#">Component alignment</a>
                                            </li>
                                            <li><a href="#">Fixed to top</a>
                                            </li>
                                            <li><a href="#">Fixed to bottom</a>
                                            </li>
                                            <li><a href="#">Static top</a>
                                            </li>
                                            <li><a href="#">Inverted navbar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>