<div class="row mobile-only">
    <div class="col-sm-2  p-2 text-center">
            <span class="fa fa-search"></span>
            <h4>Boy Friend</h4>       
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Girl Friend</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Wife</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Husband</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Children</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Mother</h4>
    </div>
</div>