<div class="row mobile-only">
    <div class="col-sm-2  p-2 text-center" routerLink="/cakes/show">
            <span class="fa fa-search"></span>
            <h4>Chocalate Cake</h4>       
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>ButterScotch Cake</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Vanilla Cake</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Strowbary Cake</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>White Forest cake</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Blackforest cake</h4>
    </div>
</div>