.show-case-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 5px;
    overflow-x: visible;
}
@media only screen and (max-width:760px){
    .card-img {
        height: 110px !important;
    }
    .show-case-title {
        font-size: 12px;
        text-transform: capitalize;
        letter-spacing: 0.6px;
        text-align: center;
    }
}