.overlay {
   position: absolute;
   background-color: black;
   opacity: 0.4;
   color: white;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}
.overlay-body > p{
    color: white;
    font-size: 16px;
    padding-top: 80%;
 }
@media only screen and (max-width:760px){
    .card-img {
        height: 110px !important;
    }
    .overlay-body > p{
        color: white;
        font-size: 12px;
        padding-top: 60%;
     }
}