<div class="row pt-3 pb-3 text-center">
    <div class="col-sm-12 p-3">
        <h5>Cakes by price range</h5>
    </div>
    <div class="col-sm-1" >
        <button type="button" class="btn btn-warning">100</button>
    </div>
    <div class="col-sm-1" >
        <button type="button" class="btn btn-secondary">100-200</button>
    </div>
    <div class="col-sm-1" >
        <button type="button" class="btn btn-primary">200-300</button>
    </div>
    <div class="col-sm-1" >
        <button type="button" class="btn btn-success">300-400</button>
    </div>
    <div class="col-sm-1" >
        <button type="button" class="btn btn-info">400-500</button>
    </div>    
</div>