<div class="row p-2">
    <div class="col-sm-12 text-center">
      <p class="heading pt-3"> ADMIN DASHBOARD </p>
    </div>
    <div class="col-sm-4 p-2">
        <div class="card m-2">
            <div class="row g-0" routerLink="users">
              <div class="col-sm-4 center-content bg-light">
                <span class="fa fa-users p-3"></span>
              </div>
              <div class="col-sm-8">
                <div class="card-body text-center">
                    <h2 class="card-title"><strong>100</strong></h2>
                    <p class="card-text">Total Customers</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 p-2" routerLink="/admin/orders">
        <div class="card m-2">
            <div class="row g-0">
              <div class="col-md-4 center-content bg-light">
                <span class="fa fa-history p-3"></span>
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                    <h2 class="card-title"><strong>100</strong></h2>
                    <p class="card-text">Total Orders</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 p-2" routerLink="/admin/cakes">
        <div class="card m-2">
            <div class="row g-0">
              <div class="col-md-4 center-content bg-light">
                <span class="fa fa-product-hunt p-3"></span>
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                    <h2 class="card-title"><strong>100</strong></h2>
                    <p class="card-text">Total Products</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>