<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="detailData">
    <ol class="carousel-indicators" >
        <li data-slide-to="0" class="active" *ngFor="let slide of detailData.image; let i = index" (click)="currentSlide = i"></li>
    </ol>
    <div class="carousel-inner" *ngFor="let img of detailData.image; let i = index">
        <div class="carousel-item active" *ngIf="i === currentSlide">
            <img [src]="'data:image/jpg;base64,'+img.image.data" class="slide">
        </div>
    </div>
</div>
<div class="details d-flex flex-column p-3">
    <div class="title p-0">
        <h5><strong>{{detailData.items.itemName}}</strong></h5>
    </div>
    <div class="cake-price d-flex">
        <div class="rs-icon pt-1">
            <img src="../../../../assets/images/img-rs.png" width="35px"/>
        </div>
        <div class="price mr-3">
           <h2> {{detailData.items.unitPrice}}.00</h2>
        </div>
        <div class="discount d-flex flex-column">
            <p class="mb-0">Original: {{detailData.items.unitPrice}}.00</p>
            <p class="pt-0">Discount:  {{detailData.items.discountPercent}} %</p>
        </div>
    </div>
    <div class="flavour">
        flavour: {{detailData.items.flavour}}
    </div>
    <div class="eggless p-1">
        <mat-checkbox>Eggless</mat-checkbox>
    </div>
    <div class="weights">
        <mat-radio-group>
            <mat-radio-button value="auto">1 KG &nbsp;</mat-radio-button>
            <mat-radio-button value="always">2 KG &nbsp; </mat-radio-button>
            <mat-radio-button value="auto">3 KG &nbsp; </mat-radio-button>
            <mat-radio-button value="always">4 KG &nbsp; </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="message">
        <input type="text" class="form-control" placeholder="Messgae on Cake"/>
    </div>
</div>

<div class="mobile-only-footer bg-warning">
    <div class="btn-group btn-block">
        <button class="flex-fill p-2" mat-raised-button (click)="addToCart()">ADD TO CART</button>
        <button class="flex-fill p-2" mat-raised-button color="accent" (click)="buyProduct()">BUY NOW</button>
    </div>
</div> 