<div class="row"  style="background-color: white;">
  <div class="col-sm-12">
    <hr>
    <div class="d-flex">
        <div class="mr-auto">
            My cart(3 items in cart)
        </div>
        <div class="">
            Subtotal: 400
        </div>
    </div>
    <hr>
    <div class="d-flex">
        <div class="mr-auto">
            <a href="#">Back to shopping</a>
        </div>
        <div class="">
            <a href="#">Checkout now</a>
        </div>
    </div>
    <hr>
  </div>
  <div class="col-sm-9">
    <app-cart-item></app-cart-item>
    <hr>
    <app-cart-item></app-cart-item>
     <hr>
     <app-cart-item></app-cart-item>
     <hr>
     <app-cart-item></app-cart-item>
     <hr>
  </div>
  <div class="col-sm-3">
    <app-sub-total></app-sub-total>
  </div>
  <div class="fixed-bottom mobile-only-footer bg-warning">
      <div class="btn-group btn-block" role="group" aria-label="Basic example">
        <button class="btn btn-primary">Home</button>
        <button class="btn btn-success">Checkout</button>
      </div>
  </div> 
</div>