<div class="desktop-only">
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
</div>
<div class="mobile-only">
  <p-confirmDialog [style]="{width: '95vw'}" [baseZIndex]="10000"></p-confirmDialog>
</div>
<div class="row" *ngIf="loading">
  <div class="col-sm-12 text-center m-4 p-4">
      <p-progressSpinner></p-progressSpinner>
  </div>
</div>
<div class="row"  style="background-color: white;" *ngIf="!loading">
  <div class="col-sm-12">
    <hr>
    <div class="d-flex">
        <div class="mr-auto">
            <a href="#">Back to shopping</a>
        </div>
        <div class="mr-auto" *ngIf="cartItems">
            My Cart({{cartItems.length}} items)
        </div>
        <div class="">
            Subtotal: {{totalCost | number}}
        </div>
    </div>
    <hr>
    <!-- <hr> -->
  </div>
  <div class="col-sm-9 p-0">
    <div class="cart-items"  *ngFor="let cart of cartItems">
      <app-cart-item [cart]="cart" (deleteItem)="deleteItem($event)"></app-cart-item>
      <hr class="full-hr">
    </div>
  </div>
  <div class="col-sm-3 m-0" style="background-color: #f1f1f1;">
    <app-sub-total [cartList]="cartItems"  [totalCost]="totalCost" class="m-2" (checkout)="checkOutOrderDesktop($event)"></app-sub-total>
  </div>
  <div class="mobile-only-footer bg-warning">
      <div class="btn-group btn-block" role="group" aria-label="Basic example">
        <button class="flex-fill p-2 btn-warning" mat-raised-button>{{totalCost | number}}</button>
        <button class="flex-fill p-2" mat-raised-button color="accent" (click)="checkOutOrder()" [disabled]="cartItems.length === 0">CHECKOUT</button>
      </div>
  </div> 
</div>