<div class="row m-0 p-0" *ngIf="!loading">
    <div class="col-sm-12 text-center">
        <p class="heading pt-3"> ALL PRODUCTS </p>
    </div>
    <div class="col-sm-12 pb-2 p-0 text-right">
        <button routerLink="add-product" class="btn btn-outline-primary btn-sm"><span class="fa fa-plus"></span> &nbsp;&nbsp;Add New Product&nbsp;</button>
    </div> 
</div>
<div class="row" style="background-color:white;" *ngIf="loading">
    <div class="col-sm-12 text-center m-4 p-4">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>


<p-toast></p-toast>

<div class="row p-0 m-0">
    <p-table [columns]="cols" [value]="product2" dataKey="_id" editMode="row" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output" *ngIf="product.imageUrls !== '[]'">
                            <img [src]="product.imageUrls[0]" [alt]="product.itemName" width="100" class="p-shadow-4" />
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.itemName" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.itemName}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.qty">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.qty}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="product.unitPrice">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.unitPrice}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="product.discountPercentage">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.discountPercentage}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(product)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>