<div class="row p-4">
    <div class="col-sm-4">
        <div class="d-flex flex-column">
            <div>Add Cake</div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <label>Cake Name:</label>
                <input type="text" placeholder="Enter Cake Name" class="form-control"/>
            </div>
            <div class="col-sm-6">
               <label>Cake Flavour:</label>
                <select class="form-control">
                   <option>Vanilla</option>
                   <option>Vanilla</option>
                   <option>Vanilla</option>
                   <option>Vanilla</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Unit Price:</label>
                <input type="text" placeholder="Enter Cake Name" class="form-control"/>
            </div>
            <div class="col-sm-6 p-4">
               <label>Eggless:</label>
                <input type="checkbox"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Cake Name:</label>
                <input type="text" placeholder="Enter Cake Name" class="form-control"/>
            </div>
            <div class="col-sm-6">
               <label>Cake Flavour:</label>
                <select class="form-control">
                   <option>Vanilla</option>
                   <option>Vanilla</option>
                   <option>Vanilla</option>
                   <option>Vanilla</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Primary Image</label>
                <input type="file" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Primary Image</label>
                <input type="file" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Primary Image</label>
                <input type="file" class="form-control"/>
            </div>
        </div>        
    </div>
</div>