<div class="row" *ngIf="!loading">
    <div class="col-sm-12 text-left">
        <p class="heading pt-3"> CAKES </p>
    </div>
    <div class="col-sm-3 m-0 p-1" *ngFor="let cake of cakeList">      
        <app-card-item [cake]="cake"></app-card-item>
    </div>
    <div class="mobile-only-footer bg-warning">
        <!-- <li class="d-flex flex-fill p-2 plp-filter-and-sort-buttons">
            <span class="flex-fill">FILTER</span> 
            <span class='fa fa-angle-right'></span>
        </li>
        <li>|</li>
        <li class="d-flex flex-fill p-2 plp-filter-and-sort-buttons">
            <span class="flex-fill">SORT</span> 
            <span class='fa fa-angle-right'></span>
        </li> -->
        <div class="btn-group d-flex btn-block">
            <button class="p-1 flex-fill plp-filter-and-sort-buttons" mat-raised-button (click)="addToCart()">
                <span>FILTER  &nbsp; &nbsp; &nbsp; <span class='flex-fill fa fa-angle-right'></span></span> 
            </button>
            <button class="p-1 flex-fill plp-filter-and-sort-buttons" mat-raised-button (click)="buyProduct(detailData.items._id)">
                <span class="flex-fill">SORT &nbsp; &nbsp; &nbsp;<span class='flex-fill fa fa-angle-right'></span></span>       
            </button>
        </div>
    </div> 
</div>
<div class="row" style="background-color:white;" *ngIf="loading">
    <div class="col-sm-12 text-center m-4 p-4">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
<div class="row" style="background-color:white;" *ngIf="cakeList.length === 0 && !loading">
    <div class="col-sm-12 text-center m-4 p-4">
        <span class="fa fa-exclamation-circle"></span>
        <p>Cakes Not Found</p>
    </div>
</div>