
@media screen and (max-width: 740px) {
    .col-sm-3 {
      width: 50%;
    }
}
.img-poster {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.plp-filter-and-sort-horizontal-border {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #e2e2e2;
}
.plp-filter-and-sort-buttons {
  color: black;
  height: 45px;
  font-size: 0.875rem;
  border-radius: 0px;
}