<div class="row" style="background-color: #250f6f;">
    <div class="col-sm-3  p-2 text-center">
            <span class="fa fa-search mobile-only"></span>
            <h4>Today Specials</h4>       
    </div>
    <div class="col-sm-3 p-2 bg-success text-center">
        <span class="fa fa-user mobile-only"></span>
        <h4>Instant Delevery</h4>
    </div>
    <div class="col-sm-3 p-2 bg-pink text-center">
        <span class="fa fa-user mobile-only"></span>
        <h4>Advance Booking</h4>
    </div>
    <div class="col-sm-3 p-2 text-center">
        <span class="fa fa-user mobile-only"></span>
        <h4> Pooja special</h4>
    </div>
    <div class="col-sm-3 p-2 bg-pink mobile-only text-center">
        <span class="fa fa-user mobile-only"></span>
        <h4>Advance Booking</h4>
    </div>
    <div class="col-sm-3 p-2 mobile-only text-center">
        <span class="fa fa-user mobile-only"></span>
        <h4> Pooja special</h4>
    </div>
</div>