
<div class="row">
    <div class="col-sm-2 text-center example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false" routerLink="/cakes">
            <span class="fa fa-search"></span>
            <h4 class="">Cakes</h4>       
    </div>
    <div class="col-sm-2 text-center example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false" routerLink="/sweets">
            <span class="fa fa-search"></span>
            <h4>Sweets</h4>       
    </div>
    <div class="col-sm-2 text-center example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false">
            <span class="fa fa-search"></span>
            <h4>Gifts</h4>       
    </div>
    <div class="col-sm-2 text-center example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false">
            <span class="fa fa-search"></span>
            <h4>Namkeens</h4>       
    </div>
    <div class="col-sm-2 text-center example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false">
            <span class="fa fa-search"></span>
            <h4>Breakfast</h4>       
    </div>
    <div class="col-sm-2 text-center example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false">
            <span class="fa fa-search"></span>
            <h4>Pooja special</h4>       
    </div>
</div>