<div class="row">
    <div class="col-sm-2  p-2 text-center">
            <span class="fa fa-search"></span>
            <h4>Today Specials</h4>       
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Instant Delevery</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Advance Booking</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4> Pooja special</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4>Advance Booking</h4>
    </div>
    <div class="col-sm-2 p-2 text-center">
        <span class="fa fa-user"></span>
        <h4> Pooja special</h4>
    </div>
</div>