<div class="d-flex-row primary-header">
    <div class="icon-margin right-items-mobile pl-3 pr-3 pb-0" *ngIf="!search"  (click)="display = true">
        <img src="https://cdn3.iconfinder.com/data/icons/outline-style-1/512/hamburger-512.png" width="27px" class="img-fluid"/>
    </div>
    <div class="p-0 mr-auto" *ngIf="!search">
        <img src="assets/images/logo.png" routerLink="/" class="main-logo" alt="NoImg" />
    </div>
    <div class="icon-margin ml-auto right-items" *ngIf="!search" (click)="search = !search" style="cursor: pointer;">
            <span class="fa fa-search"> </span>
    </div>
    <div class="global-search-bar flex-fill p-2" *ngIf="search">
         <input type="text" #searchBox autofocus placeholder="Search here.." class="form-control"/>
         <button id="clear" (click)="search = !search">&#10005;</button>
    </div>
    <div class="icon-margin right-items" *ngIf="!search" (click)="menu.toggle($event)" >
        <img src="https://w7.pngwing.com/pngs/980/304/png-transparent-computer-icons-user-profile-avatar-heroes-silhouette-avatar.png" width="21px"/>
        <!-- <span>{{name}}</span> -->
    </div>
    <div class="right-items-cart pt-3" *ngIf="!search" routerLink="/cart">
            <div class="notification">
              <img src="https://static.thenounproject.com/png/62821-200.png" width="28px"/>
            </div>
            <div class="badge">
              {{cartCount}}
            </div>
    </div>
</div>
<p-menu #menu [popup]="true" [model]="items" styleClass="p-width-edit"></p-menu>
<!-- <app-side-panel></app-side-panel> -->
<!-- <app-menu [@slideInOut]="menuState"></app-menu>
 -->
 <p-sidebar [(visible)]="display" [autoZIndex]="false" [baseZIndex]="999" class="side-panel-full" [style]="{background:'#f5f5f5', margin: '0px',padding: '0px',overflow: 'auto'}" [blockScroll]="true">
    <div class="user-details d-flex pl-3 pt-2">
      <div class="user-img">
        <img class="mr-3" src="../../../../assets/images/user-icon.png" width="55px"/>
      </div>
      <div class="d-flex flex-column">
        <p class="pb-0 mb-1" *ngIf="userName">Welcome {{name}}</p>
        <p class="" *ngIf="userName" (click)="logout()">logout</p>
        <p class="pb-0 mb-1" *ngIf="!userName">Guest User</p>
        <p class="" (click)="login()" *ngIf="!userName">login</p>
      </div>
    </div>
    <hr class="hr-default">
    <div class="m-0 p-0">
      <!-- <h5 class="p-2" routerLink="/cakes" (click)="display = false">Cakes</h5>
      <hr>
       <div *ngFor="let link of menuLink">
         <a (click)="navigateToLink(link.path)" class="pl-4"><span class="icon"></span> {{link.name}}</a>
         <hr>
       </div> -->
       <p-menu [model]="menuItems" [style]="{width:'100%'}"></p-menu>
    </div>
</p-sidebar>