// cart css
.notification {
  position: relative;
  padding-right: 6px;
}  
.badge {
  position: absolute;
  padding: 5px;
  border-radius: 20%;
  right: 6px;
  top: 8px;
  background: red;
  color: white;
  margin-right: 16px;
}

.global-search-bar {
  padding: 5px;
  margin-right: 10px;
  display: flex;
}
.d-flex-row {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    background-color: #f5f5f5;
    // background-color: #0079ef;
}
.bg-logo {
    background-color: #250f6f;
}
.primary-header > div > .fa {
  color: black;
}
.primary-header > .icon-margin {
  font-size: 22px;
  padding: 8px 12px 4px 12px;
  border-left: 1px solid hsla(0, 8%, 70%, 0.945);
}
img.main-logo {
  width: 130px;
}
.right-items-mobile {
  display: none;
}
.right-items-cart {
  padding: 12px 24px 2px 12px;
  border-left: 1px solid #250f6f5e
}
@media (max-width: 540px) {
  .global-search-bar {
    padding: 5px;
  }
  .primary-header {
    padding-bottom: 2px;
    border-bottom: 2px solid #250f6f;
  }
  .right-items-cart {
    padding: 12px 2px 2px 4px;
    border-left: none;
  }
  .notification {
    margin-right: 6px;
  }
  .badge {
    margin-right: 0;
  }
  .right-items-mobile {
    display: block;
  }
    img.main-logo {
      width: 125px;
    }
    .primary-header {
      background-color: #f5f5f5;
    }
    .primary-header > div > .fa {
      color: black;
    }
    .primary-header > .icon-margin {
      font-size: 16px;
      padding: 16px 8px 2px 12px;
      // border-left: 1px solid #6664643d;
      border-left: none;
    }
    #user-text {
      display: none;
    }
}
#clear {
        position: absolute; 
        top: 12px; 
        right: 28px;
        border-radius: 5px; 
        z-index: 2; 
        border: none; 
        height: 30px; 
        cursor: pointer; 
        color: black; 
        background-color: #f1f1f1; 
        transform: translateX(2px); 
}
