<div class="d-flex-row primary-header">
    <div class="icon-margin right-items-mobile pl-3 pr-3 pb-0">
        <img src="../../../../assets/images/unnamed.png" width="27px">
    </div>
    <div class="p-0">
        <img src="../../../assets/images/logo.png" class="main-logo" alt="NoImg" />
    </div>
    <div class="icon-margin mr-auto right-items" style="border-left: none;">
            <span class="fa fa-star"> </span>
    </div>
    <div class="icon-margin ml-auto right-items">
            <span class="fa fa-search"> </span>
    </div>
    <div class="icon-margin right-items">
        <span class="fa fa-user-circle" aria-hidden="true"> <span id="user-text"> Ravi Kumar</span></span>
        <!-- <div class="dropdown"> -->
            <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Dropdown button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </div> -->
    </div>
    <div class="right-items-cart">
            <span class="fa fa-shopping-cart notification">
                <span class="badge">3</span>
            </span>
    </div>
</div>