
<div class="row d-flex p-2">
   <div class="flex-fill"><strong>Sweets</strong></div>
   <div><a routerLink="/sweets">View All</a></div>
</div>
<div class="row" style="background-color: #f5f5f5;">
   <div class="col-sm-12 m-0 p-0" routerLink="cakes">
      <img src="../../../../assets/sweets-poster.png" class="img-fluid img-thumbnail img-poster"/>
   </div>
   <div class="container-scroll flex">
      <div class="item flex-item"  *ngFor="let item of sweetsList">
         <app-show-case [cake]="item"></app-show-case>
      </div>
   </div>
</div>
