<div class="row profile-details pt-2" style="background-color: white;">
    <div class="col-sm-3 mb-2">
        <div class="card text-white bg-success">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Success card title</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-2">
        <div class="card text-white bg-danger">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-2">
        <div class="card text-white bg-warning">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Warning card title</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-2">
        <div class="card text-white bg-info">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Info card title</h5>
            </div>
        </div>
    </div>
</div>