<div class="row p-0">
    <div class="col-sm-12 text-center">
        <p class="heading pt-3"> MY ACCOUNT </p>
    </div>
    <div class="col-sm-4 p-2">
        <div class="card m-2">
            <div class="row g-0" routerLink="address">
              <div class="col-sm-4 center-content bg-light">
                <span class="fa fa-users p-3"></span>
              </div>
              <div class="col-sm-8">
                <div class="card-body text-center">
                    <p class="card-text">Billing Details</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 p-2" routerLink="orders">
        <div class="card m-2">
            <div class="row g-0">
              <div class="col-md-4 center-content bg-light">
                <span class="fa fa-history p-3"></span>
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                    <p class="card-text">My Orders</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 p-2" routerLink="setting">
        <div class="card m-2">
            <div class="row g-0">
              <div class="col-md-4 center-content bg-light">
                <span class="fa fa-product-hunt p-3"></span>
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                    <p class="card-text">My Settings</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>